html,body{
    padding:0;
    margin:0;
    overflow:hidden;
}

.threecontainer{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color:#111;
}

#game{
    display:none;
    top:0;
    left:0;
    z-index:3;
}

.button{
    position:relative;
    display: inline-block;
    color:#FFF;
    font-family:'Helvetica Neue', sans-serif;
    width:170px;
    font-size:18px;
    padding:10px 5px;
    margin:5px 3px;
    background-color:rgba(255,255,255, .25);
    border:1px solid #FFF;
    text-transform: uppercase;
    cursor:pointer;
    text-align:center;
    box-sizing: border-box;
    white-space: nowrap;
}

.buttoncontainer{
    position:absolute;
    z-index:2;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    width:360px;
}

.infobtn{
    position:absolute;
    z-index:3;
    top:20px;
    right:20px;
    color:#FFF;
    font-family:Times;
    font-size:20px;
    font-style:italic;
    border:1px solid #FFF;
    border-radius:50%;
    width:25px;
    height:25px;
    text-align:center;
    text-decoration: none;
}

.noselect {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;    
}

.infowindow{
    display:none;
    position:absolute;
    z-index:10;
    top:10%;
    left:10%;
    right:10%;
    bottom:20%;
    background-color:rgba(30,30,30,.85);
    border:1px solid rgba(255,255,255,.125);
    box-sizing: border-box;
    padding:20px;
    color:#FFF;
    font-family:Avenir, Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:24px;
    overflow-y:auto;
}

.infowindow ul{
    list-style-type: decimal;
}

.closebtn{
    color:#FFF;
}